@import "./variables";
@import"./sizes";

.nombre-logo {
  font-family: "Questrial", sans-serif;
}

.navbar {
  z-index: 1000;
  background: $fondo-gradiente;
}

.navbar-brand {
  img {
    @include sizes(80px,80px)
  }
}

.nav-item {
  &__link {
    transition: all 1s;
    font-family: "Questrial", sans-serif;
  }
  
  &__link:hover {
  color: #ffd900 !important;
  border-bottom: 1px solid white;
}
}

@media screen and (min-width: 992px){

  .nav-item__link:hover { 
    transform: scale(1.1);
}
}