/* Estilos Conocenos */
#video-cont {
  width: 560px;
}

.video {
  height: 350px;
}

#container{
  background-color: rgba(255, 255, 255, 0.075);
}
/* MEDIA QUERIES */
@media screen and (max-width: 559px) {
  #video-cont {
    width: 100%;
  }
  #container{
    height: auto;
    padding: 10px 0;
  }
}
