/* Estilos generales
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

.fondo {
background: linear-gradient(45deg, rgba(18,4,34,1) 0%, #4b2781 49%, #ff0078 100%);
}

.nombre-logo{
  font-family: 'Questrial', sans-serif;
}

.navbar{
  z-index: 1000;
  background: linear-gradient(45deg, rgba(18,4,34,1) 0%, rgba(75,39,129,1) 49%, rgba(255,0,120,1) 100%);
}

.navbar-brand img{
  height: 80px;
  width: 80px;
}

.nav-item a{
  transition: all 1s;
  font-family: 'Questrial', sans-serif;
}

.nav-item a:hover{
  color: #ffd900  !important;
 border-bottom:1px solid white;
 transform: scale(1.1)
}

/* Estilos Footers
#footer {
  background: linear-gradient(45deg, rgba(18,4,34,1) 0%, rgba(75,39,129,1) 49%, rgba(255,0,120,1) 100%);
}

.iconos a i{
  color: white;
  font-size: 25px;
} 
#footer h5{
  font-family: 'Questrial', sans-serif;
}
*/