/* Estilos home */

.banner {
    background: url("../multimedia/banner.jpg") no-repeat;
    background-size: cover;
  }
  
  #titulo {
    margin: 30px;
  }

@media screen and (min-width: 768px) {
  .banner-text{
    width: 50%;
  }
}