.img-1, .img-2, .img-3, .img-4, .img-5, .img-6 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-cont {
  height: 225px;
  width: 225px;
}

/* Estilos css galeria */
.img-cont {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.img-cont:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-cont img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 550px) {
  #container {
    padding: 20px 0;
  }
  .img-cont {
    height: 300px;
    width: 300px;
  }
}

.img--1 {
  background-image: url("../../multimedia/Productos/vela(1).jpeg");
  background-size: cover;
  background-position: center;
}

.img--2 {
  background-image: url("../../multimedia/Productos/vela(2).jpeg");
  background-size: cover;
  background-position: center;
}

.img--3 {
  background-image: url("../../multimedia/Productos/vela(3).jpeg");
  background-size: cover;
  background-position: center;
}

.img--4 {
  background-image: url("../../multimedia/Productos/vela(4).jpeg");
  background-size: cover;
  background-position: center;
}

.img--5 {
  background-image: url("../../multimedia/Productos/vela(5).jpeg");
  background-size: cover;
  background-position: center;
}

.img--6 {
  background-image: url("../../multimedia/Productos/vela(6).jpeg");
  background-size: cover;
  background-position: center;
}

.img-producto {
  height: 250px;
  width: 250px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.img-producto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.fondo {
  background: -webkit-gradient(linear, left top, right top, from(#ff0078), color-stop(52%, #4b2781), to(#020024));
  background: linear-gradient(90deg, #ff0078 0%, #4b2781 52%, #020024 100%);
}

#container {
  background-color: rgba(255, 255, 255, 0.075);
}

.nombre-logo {
  font-family: "Questrial", sans-serif;
}

.navbar {
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(#ff0078), color-stop(52%, #4b2781), to(#020024));
  background: linear-gradient(90deg, #ff0078 0%, #4b2781 52%, #020024 100%);
}

.navbar-brand img {
  height: 80px;
  width: 80px;
}

.nav-item__link {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-family: "Questrial", sans-serif;
}

.nav-item__link:hover {
  color: #ffd900 !important;
  border-bottom: 1px solid white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Estilos Footer */
#footer {
  background: -webkit-gradient(linear, left top, right top, from(#ff0078), color-stop(52%, #4b2781), to(#020024));
  background: linear-gradient(90deg, #ff0078 0%, #4b2781 52%, #020024 100%);
}

.iconos a i {
  color: white;
  font-size: 25px;
}

#footer h5 {
  font-family: 'Questrial', sans-serif;
}

/* Estilos home */
.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../multimedia/banner4.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../multimedia/banner4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

#titulo {
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .banner-text {
    width: 50%;
  }
}

.banner {
  height: 100%;
  width: 100%;
}

/* Estilos Conocenos */
#video-cont {
  width: 560px;
}

.video {
  height: 350px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 559px) {
  #video-cont {
    width: 100%;
  }
  #container {
    height: auto;
    padding: 10px 0;
  }
}

/* Estilos Contacto */
form {
  width: 300px;
}

.input-btn {
  width: 35%;
}

.boton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .8s;
  transition: all .8s;
}

.input-text:focus {
  box-shadow: 0px 0px 11px 1px #ffd900;
  -webkit-box-shadow: 0px 0px 11px 1px #ffd900;
  -moz-box-shadow: 0px 0px 11px 1px #ffd900;
  outline: 0 none;
}

.boton:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=main.css.map */